*, *::before, *::after{
    box-sizing: border-box;
}

:root {
  --text-color: #404040;
  --bg-color: #fff;
}

:root .dark-theme{
  --text-color: #FFF;
  --bg-color: linear-gradient(180deg, #191926 30%, #10101a 0);
} 

body{
    margin: 0;
    line-height: 1.6;
    color: var(--text-color);
    min-height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    
}

.container{
  width: 90%;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

.main-grid, .overview-grid{
  
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  margin: 0 auto;
  text-align: center;
  
  
}

/* @media (min-width: 900px){
  .main-grid{
    display: grid;
    grid-template-columns: minmax(1em, 1fr) repeat(4, minmax(50px, 250px)) minmax(1em, 1fr);
    column-gap: 1.5em;
  }

} */

.btn-toggle{
  
  margin: .5em;
  padding: 5px;
  justify-self: center;
  font-size: 1rem;
  transition: 500ms;
  background-size: 200% auto;
  background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  border-radius: 50%;
  color: #10101a;

}

.btn-toggle:hover,
.btn-toggle:focus{
  background-position: right center; 
}

/* @media (min-width: 900px){
  .btn-toggle{
    grid-column: -3;
    justify-self: right;
    margin-right: 0;
  }
} */

.mode-switcher{
  grid-column:  -2;
}
