*, *::before, *::after{
    box-sizing: border-box;
}

:root {
  --text-color: #404040;
  --bg-color: #fff;
}

:root .dark-theme{
  --text-color: #FFF;
  --bg-color: linear-gradient(180deg, #191926 30%, #10101a 0);
} 

body{
    margin: 0;
    line-height: 1.6;
    color: var(--text-color);
    min-height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    font-size: .875rem;
    font-family: 'Inter', sans-serif;
    
}

img{
  max-width: 100%;
}

/* ----------------- */
/*   main layout     */
/* ----------------- */
.container{
  width: 90%;
  margin: 2em auto;
}

.main-grid, .overview-grid{
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em 0;
  margin: 0 auto;
  text-align: center;
  
}

.main-text{
  grid-column: span 2;
  padding-bottom: 1em;
  text-align: left;
  border-bottom: 1px solid #404040;
}

@media (min-width: 440px){
  .main-text{
    border: 0;
  }

  .main-grid, .overview-grid{
    gap: 1em;
  }
}

.title-section{
  margin-bottom: 1em;
}
.subtitle{
  grid-column: 1 / span 2;
  justify-self: left;
}

/* ----------------- */
/*    typography     */
/* ----------------- */

h1, h2, p{
  margin: 0;
}

.dashboard-title{
  font-weight: 700;
}

.dashboard-subtitle, 
.dark-mode-text{
  font-size: .8rem;
  font-weight: 700;
  opacity: .7;
}

/* - dark mode button - */

.dark-mode-text{
  grid-column: 1;
  justify-self: left;
  align-self: center;
}

.btn-toggle{
  grid-column: -1;
  margin: .5em .0em .5em .5em;
  padding: 5px;
  justify-self: center;
  font-size: 1rem;
  transition: 500ms;
  background-size: 200% auto;
  background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  border-radius: 50%;
  color: #10101a;

}

.btn-toggle:hover,
.btn-toggle:focus{
  background-position: right center; 
}






